{% extends 'base.html.twig' %}

{% block title %}Producto: {{ producto.nombre }}{% endblock %}

{% block body %}
    <h1>Detalles de {{ producto.nombre }}</h1>

    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
    <p><strong>Stock actual:</strong> {{ producto.cantidad }}</p>

    <h3>Historial de Movimientos</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Movimiento</th>
            </tr>
        </thead>
        <tbody>
            <ul>
            {% for movimiento in producto.historialMovimientos|sort((a, b) => b.fecha <=> a.fecha) %}
            <li>
                {{ movimiento.fecha|date('d/m/Y H:i') }} | 
                <span class="text-success">+{{ movimiento.cantidadCambiada }} uds.</span>
                <small class="text-muted">
                    (Hecho por: {{ movimiento.usuario ? movimiento.usuario.email : 'Sistema' }})
                </small>
            </li>
            {% else %}
                <li>No hay movimientos registrados.</li>
            {% endfor %}
            </ul>
        </tbody>
    </table>
{% endblock %}